<div class="container">
  <div class="row justify-content-center">
    <div class="col-4 window">
      <div class="row bg-primary">
        <div class="col-1"><mat-icon matSuffix>arrow_back_ios</mat-icon></div>
        <div class="col-11">
          <h4>Intercom</h4>
          <p>We help your business grow by connecting you to your customers.</p>
        </div>
        <div class="col-12">
          <ul class="members-list">
            <li>
              <img src="../assets/img/image1.jpg" /><br />
              <span>Aparna</span>
            </li>
            <li>
              <img src="../assets/img/image1.jpg" /><br />
              <span>Aparna</span>
            </li>
            <li>
              <img src="../assets/img/image1.jpg" /><br />
              <span>Aparna</span>
            </li>
          </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-11">
          <br />
          <p>The team typically replies in few hours.</p>
        </div>
      </div>
      <!-- chat box component -->
      <app-chat-box [chatData]="message"></app-chat-box>

      <!-- input -->
      <form [formGroup]="formGroup">
        <div class="row">
          <div class="col-12 d-flex">
            <mat-form-field class="example-full-width">
              <input
                type="text"
                name="text_message"
                id="text_message"
                formControlName="text_message"
                (keydown.enter)="onKey($event)"
                placeholder="Write your reply .."
                matInput
              />
              <mat-icon matSuffix (click)="onGifClick()" class="mr-2"
                >gif</mat-icon
              >
              <mat-icon matSuffix class="mr-2">insert_emoticon</mat-icon>
              <mat-icon matSuffix class="mr-2">attach_file</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
