/* You can add global styles to this file, and also import other style files */

/* html,
body {
  height: 100%;
} */

body {
  height: 100%;
  margin-top: 20px;
  font-family: Roboto 'Helvetica Neue', sans-serif;
}

.window {
  border-radius: 10px;
  padding: 0 15px 0 15px;
  box-shadow: 1px 1px 20px 5px #ccc;
}

.bg-primary {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #fff;
  padding: 22px 8px;
  background-color: #006bb4 !important;
}

.members-list li {
  list-style: none;
  display: inline;
  float: left;
  width: 80px;
}

.members-list li img {
  width: 50px;
  border-radius: 50%;
}

.chat1 {
  background-color: #006cf8;
  color: #fff;
  width: auto;
  float: right;
  display: inline-block;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
}

.chat2 {
  width: auto;
  display: inline-block;
  padding: 10px;

  margin-top: 15px;
}

.chat-default {
  width: 100%;
}
.example-full-width {
  width: -webkit-fill-available;
}
.shareicon {
  padding-left: 0;
}

.shareicon li {
  list-style: none;
  float: left;
  width: 34px;
}

.chat-section {
  height: 380px;
  overflow: auto;
}

md-input-container.md-input-focused label {
  display: none;
}

.border-bottom-1 {
  border-bottom: 1px solid #e2e2e2;
}
